.nav-container {
  height: 50px;
}
.wrapper {
  width: 1100px;
  margin: 0 auto;
  font-family: Montserrat;
}
.nav-brand {
  font-size: 24px;
  font-weight: 800;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
nav ul {
  display: flex;
  list-style: none;
}
.nav-items li {
  font-family: "Montserrat", "sans-sherif";
  margin-right: 60px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  cursor: pointer;
}
.nav-items li:nth-last-of-type(1) {
  margin-right: 0;
}
.login-btn {
  background-color: #ff6e40;
  padding: 7px 20px;
  color: rgb(255, 255, 255, 0.8) !important;
  border-radius: 5px;
  margin-top: -5px;
}
.link {
  text-decoration: none;
  color: #2d2d2d;
}
